body{
    margin: 0px;
}
*{
    box-sizing: border-box;
    margin: 0px;
}
.topbar{
    background-color: blue;
    text-align: center;
    height: 50px;
}
.topbar p{
    font-size: 14px;
    font-family: 'Livvic', sans-serif;
    color: white;
    padding: 15px;
}
#logo a{
    color: black;
    text-decoration: none;
}
#logo a h1 span{
    color: red;
}
#logo a h1{
    font-weight: normal;
    font-style: italic;
    font-family: "Open Sans",sans-serif;
    margin-top: 10px; 
      display: inline-block; 
        vertical-align: top; 
}
#logo {
    margin-top: 30px;
}
#header{
    margin: 0px auto;
    width: 1100px;
    display:flex;
}
nav {
    margin-top: 40px;
      
}
nav ul li{ 
    list-style-type:none;
    
}

nav ul li a{
    color:black;
    letter-spacing: 1px;
    text-decoration: none;
}

nav ul li a i{
    color:#FF5722;
}
nav ul {
    display: flex
}
nav ul li{
    margin-right: 15px;
    border-right: 1px solid black;
    padding-right: 5px

}

